<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue sur Go in stage !</h1>
    <p>
      Vous vous êtes inscrit sur go-in-stage en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à votre espace, connectez-vous via : <%= @url %>.
    </p>
    <p>Améliorez dès maintenant la base de données en partageant vos expériences de stages</p>
    <p> À très vite sur go in stage !</p>
  </body>
</html>