<div class="container">
  <h1 class="text-center mb-5">Mettre à jour</h1>

  <%= render 'form', internship: @internship %>

  <%= link_to 'Show', @internship %> |
  <%= link_to 'Back', internships_path %>
</div>
