body {
  min-height: 100vh;
  background-color: #212529;
  color: #81888a;
}

body .container-form {
	padding: 10px 10px 30px 10px;
}

section {
  min-height: 90vh;
  padding-top: 0px;
}

footer {
  height: 10vh;
}

h1 {
	color: #ffffff;
  text-align: center;
}

h2, h3, h4, h5, h6 {
  color: #d7dbdc;
}

p span {
   margin:2px 5px 2em 0;
}

.field {
  color: #ffffff;
}

.field-title {
  display: flex;
  align-self: auto;
}

.actions {
  padding-top: 15px;
  margin: auto;
}

.card-header {
  background-color: #212529;
  padding: 20px;
}

.form-group {
  padding-top: 25px;
  padding-bottom: 10px;
}

.search-internship-form {
  max-width: 65vw;
}

.input-group-text-search-form {
	min-width: 125px;
}

.container-form-user, .container-show {
  padding-top: 150px;
}

.container-form-search {
  padding-top: 100px;
}

.card-header {
  background-color: #17a2b8;
}