body {
  min-height: 100vh;
  background-color: #212529;
}

section {
  min-height: 90vh;
  padding-top: 150px;
}

footer {
  height: 10vh;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.field {
  color: white;
}

.field-title {
  display: flex;
  align-items: center;
}

.search-internship-form {
  max-width: 65vw;
}

.input-group-text-search-form {
	min-width: 125px;
}

.form-control-essai{
  width: 100% - 125px;
}
