/* NAVBAR */

header {
	margin-bottom: 35px;
}


/* FOOTER */

footer {
	margin-top: 30px;
}


/* SECTION*/

section {
	padding-top: 35px;
}

/* SHOW INTERNSHIP */

hr {
	padding-top: 25px;
}

.border {
	padding: 15px;
}

.edit-button {
	float: right;
	margin-right: 5px;
}


/* PAGINATION */

.pagination {
  display: inline-block;
}

.pagination a {
	  font-size: 15px;
	  color: black;
	  padding: 8px 16px;
}

.pagination a:hover:not(.active) {background-color: #efe8e8;}


/* CARD INTERNSHIP NEW & EDIT */

.style-card {
  background-color: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  width: 10em;

}

/* TABLE REVIEWS INDEX */

thead {
	border-bottom: 1px solid #e5e5e5;
}

/* COMMENTS */

.bg-light-blue {
	background-color: #e1f6f6;
}

