<!-- FOOTER -->
<div class="container">
  <div class="row">
    <div class="col-sm-7 col-xs-12">
      <p class="d-inline-block mb-6">Go in stage</p>
      <p class="text-white pt-1 pb-3">L'objectif de Go in stage est de constituer un carnet d'adresses d'anciens stagiaires en psychologie afin de faciliter la recherche de stage. Les stages sont complétés par des avis notés permettant une meilleure appréciation du lieu par le stagiaire.</p>
      <ul class="list-unstyled text-white">
        <li class="mb-3">
         <i class="fa fa-envelope fa-lg mr-3" aria-hidden="true"></i>
         <a class="text-white" href="mailto:contact@les-psychodingues.com">contact@les-psychodingues.com</a>
       </li>
     </ul>
   </div>
   <div class="col-sm-3 col-xs-12">
    <div class="mb-4 mt-4 mt-md-0">
        <h2 class="h4 text-white">Les psychodingues</h2>
      </div>
      <ul class="list-unstyled list-gray">
        <li class="mb-3">
          <a href="https://les-psychodingues.com/">Accueil</a>
        </li>
        <li class="mb-3">
          <a href="https://les-psychodingues.com/trouver-un-stage-en-psychologie/">Trouver un stage en psychologie</a>
        </li>
        <li class="mb-3">
          <a href="https://les-psychodingues.com/category/temoignages-detudiants-et-de-professionnels-en-psychologie/">Témoignages</a>
        </li>
        <li class="mb-3">
          <a href="https://www.facebook.com/groups/236270623788077/">La Dingo Sphère</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 col-xs-12">
      <div class="mb-4 mt-4 mt-md-0">
        <h2 class="h4 text-white">Le site</h2>
      </div>
      <ul class="list-unstyled list-gray">
        <li class="mb-3">
          <%= link_to "S'inscrire", new_user_registration_path %>
        </li>
        <li class="mb-3">
          <%= link_to "Se connecter", new_user_session_path %>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">

    <div class="col-sm-7 col-xs-12 align-self-center order-3 order-md-0">
      <p class="copy-right mb-0 pb-4 pb-md-0">
        Copyright &copy; 2020. Tous Droits Réservés par
        <a href="https://les-psychodingues.com/" target="_blank"> Les Psychodingues</a>
      </p>
    </div>
    <div class="col-sm-5 col-xs-12 d-flex align-items-center">
      <div class="ml-md-auto mx-auto mx-md-0 mt-3 mb-5 my-md-0">
        <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="https://www.facebook.com/lespsychodingues"><i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="icon-sm icon-default icon-border hover-bg-primary rounded-circle ml-2" href="https://www.linkedin.com/in/les-psychodingues-97b520166/"><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
